/*----------------------------------*\
  #COLORS
\*----------------------------------*/

$color-primary:     #161e47;
$color-secondary:   #516dff;
$color-tertiary:    #00ffc2;

$color-black:       #000000;
$color-grey-dark:   #333333;
$color-grey:        #808080;
$color-grey-light:  #f3f4f6;

$color-white:       #ffffff;
