{% from '../form-elements/form/form.html' import form %}
{% from '../form-elements/form-input/form-input.html' import input %}
{% from '../form-elements/form-message/form-message.html' import message %}
{% from '../form-elements/form-notice/form-notice.html' import notice %}
{% from '../button/button.html' import button %}

{% set errorClass = 'form__message--has-error' if error != '' %}

{% call form({
  method: 'POST',
  action: '/login-authenticate',
  hook: 'form-login',
  title: 'Get ready'
}) %}

   {{ input({
    name: 'username',
    id: 'username',
    label: 'Username',
    hook: 'input-username'
  }) }}

   {{ input({
    name: 'password',
    id: 'password',
    label: 'Password',
    type: 'password',
    autocomplete: true,
    hook: 'input-password'
  }) }}

  {% if error %} 
    {{ message({ 
      text: error ,
      hook: 'form-error',
      class: errorClass
    }) }} 
  {% endif %}

  {% if success != '' %} 
    {{ message({ text: success }) }} 
  {% endif %}

  {{ button({ 
    element: 'button',
    label: 'Log in', 
    type: 'submit',
    variant: 'black',
    class: 'form__button'
  }) }}

  {{ notice({ 
    text: 'Don`t have an account?',
    linkLabel: 'Sign up',
    url: '/register' 
  }) }}

{% endcall %}