{% from '../form/form.html' import form %}
{% from '../form-input/form-input.html' import input %}
{% from '../button/button.html' import button %}

{% call form({
  class: 'form__modal',
  method: 'POST',
  action: '/login-authenticate'
}) %}

   {{ input({
    name: 'username',
    id: 'username',
    label: 'Username'
  }) }}

   {{ input({
    name: 'password',
    id: 'password',
    label: 'Password',
    type: 'password'
  }) }}

  {{ button({ 
    element: 'button',
    label: 'Log in', 
    type: 'submit'
  }) }}

  <small>Don't have an account? <a href="/register">Sign up</a></small>

{% endcall %}