{% from '../components/image/image.html' import image %}

{% extends 'rev-layouts/default.html' %}

{% block content %}

  {{ image({
    image: '/assets/images/gijs.jpeg',
    srcset: '/assets/images/gijs@320w.webp 320w,
             /assets/images/gijs@480w.webp 480w,
             /assets/images/gijs@768w.webp 768w,
             /assets/images/gijs@1024w.webp 1024w,
             /assets/images/gijs@1280w.webp 1280w,
             /assets/images/gijs@1440w.webp 1440w,
             /assets/images/gijs@1920w.webp 1920w',
    alt: 'Gijs Laarman'
  }) }}

{% endblock %}