$navigation-transition-speed: 300ms;

.c-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation__link {
  margin-left: $global-spacing-md;
  color: $color-white;

  &::first-letter {
    text-transform: uppercase;
  }

  .header--is-white & {
    color: $color-black;
  }
}

.navigation__profile {
  color: $color-black;
  border-radius: 3px;
  display: flex;
  align-items: center;

  &:hover {
    .navigation__image {
      box-shadow: inset 0 0 6px 0 $color-primary;
    }

    .navigation__label {
      box-shadow: inset 0 -2px 0 0 $color-primary;
    }
  }
}

.navigation__label {
  margin-right: $global-spacing;
  font-weight: $font-weight-bold;
  transition: box-shadow $navigation-transition-speed;
}

.navigation__image {
  background-color: $color-grey-light;
  padding: $global-spacing;
  border-radius: 100%;
  line-height: 0;
  transition: box-shadow $navigation-transition-speed;

  img {
    height: $global-spacing-sm;
    width: $global-spacing-sm;
  }
}
