$form-error-transition-time: 750ms;
$form-error-transition-ease: cubic-bezier(0.455, 0.03, 0.515, 0.955);

.form__message {
  display: block;
  min-height: $global-spacing * 5.6;
  transform: translateX(15px);
  opacity: 0;
  transition: opacity $form-error-transition-time $form-error-transition-ease,
    transform $form-error-transition-time $form-error-transition-ease;
}

.form__message--has-error {
  opacity: 1;
  transform: translateX(0);
  color: $color-red;
}

.form__message--has-success {
  opacity: 1;
  transform: translateX(0);
  color: $color-green;
}
