$color-primary: #e90e63;
$color-secondary: #0ee994;
$color-tertiary: #00ffc2;

$color-black: #000000;
$color-grey-dark: #333333;
$color-grey: #808080;
$color-grey-light: #f3f4f6;

$color-white: #ffffff;

$color-red: #ff0000;
