$header-shadow-color: inset 0 2px 4px -3px rgba($color-black, 0.2);

.c-header {
  background-color: transparent;
  width: 100%;
  position: relative;
  z-index: 1;

  @include screen-tablet-portrait-and-bigger {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
  }
}

.header__wrapper {
  padding-top: $global-spacing-md;
  padding-bottom: $global-spacing-md;
  display: flex;
  align-items: center;

  .header--is-white & {
    padding-top: $global-spacing;
    padding-bottom: $global-spacing;
  }
}

.header__navigation {
  margin-left: auto;
}

.header__logo {
  @include fluid-type(5, 4, 'height');

  .header--is-white & {
    height: auto;
  }
}

.header--has-shadow {
  box-shadow: $header-shadow-color;
}

.header--is-white {
  background-color: $color-white;
}
