{% from '../form-elements/form/form.html' import form %}
{% from '../form-elements/form-input/form-input.html' import input %}
{% from '../form-elements/form-message/form-message.html' import message %}
{% from '../form-elements/form-notice/form-notice.html' import notice %}
{% from '../button/button.html' import button %}

{% call form({
  method: 'POST',
  action: '/register-user'
}) %}

  {{ input({
    name: 'username',
    id: 'username',
    label: 'Username'
  }) }}

  {{ input({
    name: 'password',
    id: 'password',
    label: 'Password',
    type: 'password',
    autocomplete: true
  }) }}

  {{ button({ 
    element: 'button',
    label: 'Register', 
    type: 'submit',
    variant: 'black'
  }) }}

  {% if error != '' %} 
    {{ message({ text: error }) }} 
  {% endif %}

  {{ notice({ 
    text: "Already have an account?",
    linkLabel: 'Login',
    url: '/login' 
  }) }}

{% endcall %}