{% from '../form/form.html' import form %}
{% from '../form-input/form-input.html' import input %}
{% from '../button/button.html' import button %}

{% call form({
  class: 'form__modal',
  method: 'POST'
}) %}

  {{ input({
    name: 'username',
    id: 'username',
    label: 'Username'
  }) }}

  {{ input({
    name: 'password',
    id: 'password',
    label: 'Password'
  }) }}

  {{ button({ 
    element: 'button',
    label: 'Register', 
    type: 'submit'
  }) }}

  <small>Already have an account? <a href="/login">Log in</a></small>

{% endcall %}